.lk-nav{
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1585858448945-4fa523c06bc9?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXRodW1ibmFpbHx8MTIyMTY4Nzd8fGVufDB8fHx8fA%3D%3D');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.lk-NAVEBAR{
    display: flex;
}
.nav-link {
  margin-left: 40px;
  font-size: 18px;
  font-weight: 500;
}
.container-fluid{
   margin: 10px 100px;
   /* color: white; */
}
.navbar-brand {
    font-weight: 700;
    /* color: white; */
}
.bg-body-tertiary{
    background: none !important;

}
.lk-hero{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.lk-hero-son1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lk-hero-basic-h1{
    font-size: 50px;
    font-weight: 700; 
}
.lk-hero-h1{
    font-size: 40px;
    font-weight:400;
}

.lk-hero-span{
    font-weight:600;
}
.lk-hero-icons{
    padding-top: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 0px;

}
.lk-hero-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0,0, 0.5);
    position: relative;
}
.lk-hero-icon .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}
.lk-NAVEBAR{
    position: fixed;
    width: 100%;
    z-index: 99999;
}
.LKbg-window{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: rgba(255, 255, 255 , 0.9) !important;
    /* color: white; */
}
/* .LKbg-window .lk-window,.LKbg-window .navbar-toggler-icon {
    color: white !important;
} */


@media(max-width:991px){
    .lk-nav-comm{
        flex-direction: column !important;
        align-items: center;
        row-gap: 15px;
        border-radius: 20px;
    }
    .lk-nav-son2{
        background-color: #ffffff63;
    }
    
    .lk-navbar-add{
        margin-left: 0 !important;
    }
    .lk-hero{
        margin-top: 40px;
    }
    .lk-hero-h1{
        font-size: 30px;
    }
    .lk-hero-icons{
        padding-top: 0;
    }
}
@media(max-width:768px){
    .lk-hero-basic-h1 {
        font-size: 30px;
    }
    .lk-hero-h1{
        font-size: 25px;
        text-align: center;
    }
    .lk-hero-icons{
        padding-top: 10px;
    }
    .container-fluid{
       
        margin: 10px 25px;
    }
    .lk-hero-navlink{
        margin-left: 0 !important;
    }
    .lk-hero-icons{
        gap: 10px;
    }
}