.lk-about{
    margin: 0px 100px 70px 100px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
}
.LK-Parent-Skils{
     display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
   gap: 5px;
   
}
.lk-SkilsLK{
    border-radius: 20px;
    border-color: #333;
    padding: 5px 10px;
    background-color: #748182;  
    color: #333;
    font-weight: 500;
    
}
.lk-about-div-img{
    height: 570px;
    border-radius: 10px;
    background-color: #474744;   
}
.lk-about-img{
   height: 100%;
}
.lk-about-son1{
    width: 750px;
}
.lk-about-son1 h2,.lk-S-part2 h2{
    font-weight: 700;
    font-size: 28px;
}
.lk-about-son1 p{
    font-size: 18px;
    opacity: 0.7;
    width: 750px;
    margin-bottom: 5px;
}
.lk-about-son1 .lk-name{
    font-weight:700;
}
.skills{
    box-shadow: 0 0 10px rgba(0, 0,0, 0.3);
    border-radius: 10px;
    border:1px solid rgba(0,0,0,0.5);
    margin-bottom: 8px;
    
}
.skills span{
    color: white;
    margin-left: 10px;
    font-weight:400;
}
.lk-about-buttons{
    margin-left: 0 !important;
}
.lk-about-button{
    background: none;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0, 0,0, 0.3);
    width: 150px;
    height: 43px;
    border-radius: 10px;
    color: #333;
    opacity: 0.9;
   transition: 0.5s all ease-in-out;
}
.lk-about-button:hover{
    background-color: #333;
    color: white;
}
@media(max-width:1200px){
    .lk-about{
        flex-wrap: wrap;
        justify-content: start;
    }
    .lk-about-son1,.lk-about-son1 p{
        width: 100%;
    }
}
@media(max-width:768px){
    .lk-about{
        padding: 30px 25px 50px 25px;
        margin: 0;
    }
    .lk-about-son1 p{
        font-size: 18px;
    }
}
@media(max-width:500px){
    .lk-about-div-img{
        height: 350px;
    }
}